/*Adding Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Default page settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    /*Header backgroung image*/
    background: url('../images/header-image.JPG') no-repeat center/cover;
    /* Handles responsivity without the need for a media query */
    padding: 0 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    line-height: 75px;
    margin: 0 0.5rem;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
    font-size: 20px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/*Main*/
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 72px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/* Main Quote image and text*/
.quote-image {
    height: 400px;
    width: 100%;
    background: url("../images/quote-image.jpeg") no-repeat center center/cover;
    position: relative;
}

.quote-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(11, 184, 25, 0.5);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 125px;
    max-width: 700px;
    padding-top: 20px;
    padding-left: 10px;
    color: #ffffff;
}

#quote {
    font-size: 20px;
}

#reference {
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
}

/*Known facts section*/

#fact-section {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    text-align: center;
    margin: 20px auto;
}

#fact-section h2 {
    width: 100%;
    margin-bottom: 20px;

}

#fact-section h3 {
    margin: 5px 5px;
}

#fact-box div {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    align-items: center;
}

.fact-text {
    margin: 10px 10px;
}

/* Footer */
footer {
    background-color: lightgray;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Plants page Main*/
.plants-list {
    width: 100%;
    margin-top: 10px;
    align-items: start;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}

#plants-header {
    text-align: center;
    margin-top: 20px;
    background-color: rgba(11, 184, 25, 0.5);

}

#plant-image-container {
    display: grid;
    place-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-grow: 2;
}

#plant-image {
    max-width: 100%;
    max-height: 100%;
}

#plant-header {
    margin: 10px 10px;
    font-size: 20px;
    text-align: center;
}

#plant {
    height: 286px;
    width: 256px;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px 10px;
}

#plant-data-container {
    align-items: center;
}


/*Chamomile page styles*/

#info-box {
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
}

.info-header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}

#info-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.info-text li ul li {
    list-style-type: circle;
    display: list-item;
    list-style-position: inside;
    padding: 0;
}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 770px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    #quote {
        font-size: 150%;
    }

    #reference {
        font-size: 150%;
    }

    .info {
        font-size: 150%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #quote {
        font-size: 250%;
    }

    #reference {
        font-size: 250%;
    }

    .info {
        font-size: 250%;
    }
}